/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

// .row {
//   margin-left: 100px;
//   margin-right: -100px;
// }

/*.hero-img {
  background: url("http://res.cloudinary.com/shuttr/image/upload/v1505958827/skogafoss_z6twbu.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 700px;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}*/

/*a {
  color: #006666;
  text-decoration: none;
  font-size: 25px;
}*/
/*
body {
  font-family: "Abel", sans-serif;
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.right-align-text {
  text-align: right;
}*/
/*header {
  margin-left: 40%;
}

h1,
h5 {
  margin-bottom: 0px;
}

.header-name {
  margin: 7px 0 0 0;
}*/

/*login-form*/
/*.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-left: 20px;
}

.login-form-box {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 60px;
}

.header-link {
  justify-content: center;
  text-decoration: none;
  color: black;
}*/
